.hero-section {
  position: relative; 
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  /* padding-top: 120px;
  padding-bottom: 110px; */

  z-index: 0; 
}

.hero-video {
  position: absolute;
  top: 50%;
  left: 50%;
  
  /* width: 100%; */
  height: 100%;
  /* width: 70vw;
  height: 43vh; */
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;

}

.hero-content {
  position: relative; 
  text-align: center;
  color: black;
  max-width: 800px;
  z-index: 1;
  padding: 10px;
}

.hero-title {
  font-size: 42px;
  margin-bottom: 20px;
  font-family: 'Roboto';
  /* font-family: 'sans-serif';
  font-weight: 700; */
}

.hero-description {
  font-size: 18px;
  margin-bottom: 40px;
}

.hero-button {
  padding: 15px 38px;
  background-color: #FFDE02;
  color: #000;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 10px;
  font-family: 'Roboto';
  /* font-weight: bold; */
}

.hero-button:hover {
  background-color: #f6db2b;
}

.demo-button {
  background-color: #000;
  color: #fff;
}

.demo-button:hover {
  background-color:#2d2d2d;
  color: #fff;
}

@media (max-width: 768px) {
  .hero-section {
    height: 70vh;
  }

  .hero-video {
    width: 100vw;
    height: auto;
  }

  .hero-title {
    font-size: 36px;
  }
  .hero-description {
    font-size: 16px;
  }
  .hero-button {
    font-size: 14px;
  }
}
