/* General styles for navbar */
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  background: transparent;
  position: relative;
}


.logo-wrapper .company-logo {
  width: 150px;
}

.menu-icon {
  display: none;
  cursor: pointer;
}

/* Menu buttons */
.buttons-wrapper {
  display: flex;
  gap: 15px;
}

.connect-wrapper {
  display: flex;
  align-items: center;
  background-color: #FFDE02;
  padding: 13px 30px;
  border-radius: 8px;
  cursor: pointer;
}
.connect-wrapper:hover{
  background-color: #f6db2b;

}

.connect-wrapper img {
  margin-right: 10px;
  width: 25px;
  height: 25px;
}

.connect-button {
  background-color: transparent;
  color: black;
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-family: 'sans-serif';
}


.buttons-wrapper {
  display: flex;
}

.buttons-wrapper.show {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px;
  right: 0;
  /* background-color: #fff; */
  padding: 10px;
  /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
  z-index: 1000;
}

@media (max-width: 768px) {
  .buttons-wrapper {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .buttons-wrapper.show {
    display: flex;
  }
}
