
.modal-footer-custom {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.custom-close-button {
  background: black;
  border: none;
  color: white;
  padding: 10px 20px;
}

.custom-close-button:hover {
  background: #333;
}
