.welcome-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    text-align: center;
    color: #343a40;
    padding: 20px;
    overflow: hidden;
}

.welcome-container h1 {
    font-size: 4rem;
    margin-bottom: 20px;
}

.request-whitelist-channel {
    color: black;
    font-weight: bold; 
    border-radius: 10px;
}

.welcome-container p {
    font-size: 1.2rem;
    margin-bottom: 10px;
    max-width: 600px;
}

.address-container {
    position: relative;
    display: flex;
    align-items: center;
    margin: 30px 0;
    width: 100%;
    max-width: 470px;
    justify-content: center;
}

.address-textarea {
    background: none;
    padding: 10px;
    font-size: 1rem;
    border: 2px dotted #ccc;
    border-radius: 5px;
    width: 100%;
    resize: none;
    box-sizing: border-box;
}

.address-textarea:focus {
    border-color: #ccc;
    outline: none;
}

.copy-button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent; 
    color: gray;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.copy-button svg {
    margin: 0;
}

.copy-button:hover {
    color: black;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
    flex-wrap: wrap;
}

.action-button {
    background-color: #000;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
}

.action-button img {
    margin-right: 10px;
    width: 25px;
    height: 25px;
    filter: invert(100%);
}

.action-button:hover {
    background-color: rgb(54, 54, 54);
}

.note {
    font-weight: bold;
}

@media (max-width: 768px) {
    .welcome-container h1 {
        font-size: 3rem;
    }

    .welcome-container p {
        font-size: 1rem;
    }

    .address-textarea,
    .copy-button,
    .action-button {
        padding: 8px 16px;
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    .welcome-container h1 {
        font-size: 2rem;
    }

    .welcome-container p {
        font-size: 0.9rem;
    }

    .address-textarea,
    .copy-button,
    .action-button {
        padding: 6px 12px;
        font-size: 0.8rem;
    }
}
